<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1729655980662865',
      xfbml      : true,
      version    : 'v2.9'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
   var js, fjs = d.getElementsByTagName(s)[0];
   if (d.getElementById(id)) {return;}
   js = d.createElement(s); js.id = id;
   js.src = "//connect.facebook.net/en_US/sdk.js";
   fjs.parentNode.insertBefore(js, fjs);
 }(document, 'script', 'facebook-jssdk'));
</script>


<div class="container">
  <div class="col s12 margin-top-100px">
  <div class="card-sign-in z-depth-2">
      <div class="card-sign-in-header">
        <p>Welcome</p>
      </div>
      <div class="card-sign-in-body center-align">
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>
        <%= f.input :email,  required: true%>
        <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
        <%= f.input :password_confirmation, required: true %>
        <div class="form-actions margin-top-20">
          <%= f.button :submit, "Sign up" %>
        </div>
        <% end %>
        <div class="margin-top-20">
          <a href="/users/auth/facebook"><img src="https://rewards.meritushotels.com/img/420GNbXtI43K6/images/facebook-login-blue.png" width="200px"/></a>
        </div>
      </div>
    </div>
  </div>
</div>







