<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1729655980662865',
      xfbml      : true,
      version    : 'v2.9'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
   var js, fjs = d.getElementsByTagName(s)[0];
   if (d.getElementById(id)) {return;}
   js = d.createElement(s); js.id = id;
   js.src = "//connect.facebook.net/en_US/sdk.js";
   fjs.parentNode.insertBefore(js, fjs);
 }(document, 'script', 'facebook-jssdk'));
</script>


<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4 text-center">
      <h2>Welcome</h2>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>
      <%= f.input :email,  required: true%>
      <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
      <%= f.input :password_confirmation, required: true %>
      <div class="form-actions">
        <%= f.button :submit, "Sign up" %>
      </div>
      <% end %>

      <a href="/users/auth/facebook">Sign in with Facebook</a><br />
    </div>
  </div>
</div>







