<div class="row margin-top-100px">
  <div class="col s6 offset-s4">
  <%= form_tag "/artists", method: "get", class: 'search-form z-depth-1' do %>
   <%= select_tag 'location', options_for_select(@locations), class: 'search-form-select' %>
   <%= submit_tag "Discover Art", class: 'btn-search' %>
   <% end %>
 </div>
</div>
<div class="wrapper-artists-index">
  <!-- Parent container-fluid to avoid large paddings on sides -->
  <div class="container-fluid">

    <!-- search bar on this page also -->


    <div class="row">
      <!-- Left side of screen, cards go here in a nested grid -->
      <div class="col-xs-12 col-md-7">
        <div class="row">
          <% @artists.each do |artist| %>
          <% if artist.location == params[:location] %>
          <!-- col for each card -->
          <div class="col-xs-12">
            <!-- Card -->
            <div class="card-artists-index">
              <div class="row">
                <div class="col-xs-12 col-md-4 col-margin-top" style="margin-top: 43px">
                  <%= image_tag "http://unsplash.it/100?random" %>
                  <br>
                  <% 5.times do %>
                  <i class="fa fa-star margin-top col-padding-top"></i>
                  <% end %>
                </div>
                <div class="col-xs-12 col-md-8">
                  <div class="row flexed" >
                    <div class="col-xs-12 col-margin-top col-1">
                      <p>Recent work</p>
                    </div>
                    <div class="col-xs-12 col-2">
                      <%= image_tag "https://unsplash.it/100?random" %>
                      <%= image_tag "http://unsplash.it/100?random" %>
                      <%= image_tag "http://unsplash.it/100?random" %>
                      <%= image_tag "http://unsplash.it/100?random" %>
                    </div>
                    <div class="col-xs-12 col-margin-bottom col-margin-top col-3" >
                      <%= link_to "profile",artist_path(artist.id), class: "btn btn-danger" %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% end %>
          <% end %>
        </div>
      </div>
      <!-- Right side of screen, map goes here -->
      <div class="col-xs-12 col-md-5">

        <!-- Div to draw a map in -->







        <div id="map"></div>



      </div>
    </div>
  </div>
</div>


<!-- Content_for, leave it at the bottom, don't insert into layout. Or I will throw poop at you. -->

<% content_for(:after_js) do %>
<script>
  $(document).ready(function() {
    var handler = Gmaps.build('Google');
    handler.buildMap({ internal: { id: 'map' } }, function() {
      markers = handler.addMarkers(<%= raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      if (markers.length == 0) {
        handler.getMap().setZoom(2);
      } else if (markers.length == 1) {
        handler.getMap().setZoom(14);
      }
    });
  });
</script>


<% end %>

