<!-- <div class="wrapper-artists-show" >
  <div class="container-fluid"> -->

    <div class="container-position-relative">
      <div class="row margin-top-100px">
        <div class="header col-xs-offset-2 col-xs-3">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQsoF-V9AXxHDCer4JTrmV7ssfjOZSnFRMEhBlZGFtxYCzGlJd7GA" class="avatar-xl avatar-artist-show">
        </div>
        <div class="artist-pages-info col-xs-6">
          <h2><%=@artist.name%></h2>
          <h5><%= @artist.location %></h5>

          <ul class="list-inline">
            <% if @artist.rating  %>
            <% @artist.rating.times do  %>
            <li><i class="fa fa-star" aria-hidden="true" style="color: black"></i></li>
            <% end %>
            <% (5 - @artist.rating).times do %>
            <li><i class="fa fa-star-o" aria-hidden="true" style="color: black"></i></li>
            <% end %>
            <% end %>
          </ul>


          <h4>About <%= @artist.name %></h4>

          <p><%= @artist.info %></p>
          <a href="#modal1" class="btn btn-search">Book an appointment</a>

        </div>
      </div>
    </div>
 <!--  </div>

</div> -->

<% image = Faker::Placeholdit.image("50x50", 'jpg')  %>
<div class="container-position-relative text-center">
  <div class ="row">
    <img src="https://s-media-cache-ak0.pinimg.com/736x/0a/68/91/0a68918afbff7a5ececc4e428bd765f1.jpg" width="200px" height="200px">
    <img src="https://s-media-cache-ak0.pinimg.com/736x/58/dc/3e/58dc3e227487845e385b6994872843cb.jpg" width="200px" height="200px">
    <img src="https://s-media-cache-ak0.pinimg.com/originals/9d/47/c1/9d47c11896fba664763cfb4e58553a89.jpg" width="200px" height="200px">
  </div>
  <div class="row">
    <img src="https://static1.squarespace.com/static/56a3c2a4c647ade23fdcce47/56c33d407da24f852dcc0942/56c33e62d51cd4074a311bba/1455636086809/IMG_3607.JPG" width="200px" height="200px">
    <img src="https://s-media-cache-ak0.pinimg.com/736x/cd/e8/e5/cde8e51614bffa8f21cca3c5082a0650.jpg" width="200px" height="200px">
    <img src="http://static.boredpanda.com/blog/wp-content/uploads/2016/12/gustav-klimt-tattoo-3-5845196236dba__700.jpg" width="200px" height="200px">
  </div>
  <div class="row">
    <img src="https://s-media-cache-ak0.pinimg.com/736x/b9/01/ea/b901eaf0940c269b4bee7b5256f46e2f.jpg" width="200px" height="200px">
    <img src="https://s-media-cache-ak0.pinimg.com/736x/34/65/54/346554ff16ef029254c3472ede7e7799.jpg" width="200px" height="200px">
    <img src="https://s-media-cache-ak0.pinimg.com/originals/8f/8f/7e/8f8f7ed11e440d14cae6d8a5b4ef2bc7.jpg" width="200px" height="200px">
  </div>
</div>

</div>

</div>

</div>
</div>


<div id="modal1" class="modal">
  <div class="modal-content">
    <%= simple_form_for [@artist, @appointment] do |f| %>
    <%= f.input :appointment_date, as: :string, input_html: { class: 'datepicker' } %>

    <%= f.collection_radio_buttons :appointment_time, @time_slots, :first, :last, item_wrapper_class: 'with-gap' %>


    <%= f.input :photo, as: :attachinary %>

    <br><br>
    <%= f.button :submit, class: "btn-search btn-primary" %>
    <% end %>
  </div>
</div>






<div class="text-center">
  <h3>Reviews of <%=@artist.name  %></h3>
  <%= link_to "Leave a Review", new_artist_review_path(@artist) %>
  <div>
    <% @artist.reviews.each do |review| %>
    <%= review.content %>
    <ul class="list-inline">
      <% review.rating.times do %>
      <li><i class="fa fa-star" aria-hidden="true" style="color: black"></i></li>
      <% end %>
      <% (5 - review.rating).times do %>
      <li><i class="fa fa-star-o" aria-hidden="true" style="color: black"></i></li>
      <% end %>
      <br>
      <br>
    </ul>
    <% end %>
  </div>
</div>



<% content_for(:after_js) do %>
<script type="text/javascript">
  $(document).ready(function(){
    $('.datepicker').pickadate({
      weekStart: 1,
      todayBtn: true,
      min: Date.now(),
      todayHighlight: true,
      format: "dd/mm/yyyy"
    });
  });
</script>
<% end %>

