<h1><%=@artist.name%></h1>
<h4><%= @artist.location %></h4>

<h3>About <%= @artist.name %></h3>

<p><%= Faker::Lorem.paragraph %></p>

<h3><%= @artist.name %>'s portfolio</h3>

<% image = Faker::Placeholdit.image("50x50", 'jpg')  %>

<%= image_tag( "#{image}" , :alt => "rss feed") %>

<%= link_to "Leave a Review", new_artist_review_path(@artist) %>

<%= simple_form_for [@artist, @appointment] do |f| %>
  <%= f.input :appointment_date, as: :datetime_local %>
  <%= f.input :status %>
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>

<h3>Reviews of <%=@artist.name  %></h3>
<% @artist.reviews.each do |review| %>
<%= review.content %>
<%= review.rating %>
<% end %>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var coord = <%= raw @flat_coordinates.to_json %>;
      alert('Flat coordinates are ' + coord.lat + ', ' + coord.lng);
    });
  <% end %>
<% end %>

