

  <div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <div class="artist-info">
      <div class="artist-details">
        <div class="artist">
          <img src="http://www.unsplash.it/50/50" class="img-circle" alt="">
          Artist Name
        </div>
        <div class="details">
        <ul>
       <li> City: Barcelona </li>
       <li> Address: Ink Studio Gracia </li>
       <li> Artist's work </li>
        </ul>
        </div>
      </div>
      <div class="appointment-status">
        <p> Status: Pending </p>
        <p> Quote: 300.00 $ </p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <div class="order-description"> <h4>Order description: </h4> <br>
    This is a really cool tattoo that will change my life. I hope to get
    a lot of attention, the attention I've always been
    neglected
    </div>
    <div class="sketches">
    <h4> Sketches</h4>
    <div class="sketches-collection text-center">
      <img src="http://www.unsplash.it/200/140" alt="">
      <img src="http://www.unsplash.it/200/140" alt="">
      <img src="http://www.unsplash.it/200/140" alt="">
      <img src="http://www.unsplash.it/200/140" alt="">
    </div>
    <br>
    <div class="btn btn-primary"> Add a Sketch </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="edit-cancel">
        <div class="btn btn-primary"> Edit </div>
        <div class="btn btn-primary"> Cancel </div>
      </div>
    </div>
  </div>
</div>



<!--
<div class="row">
  <div class="col-sm-8 col-sm-offset-2 text-center">

    <% @appointments.each do |appointment| %>
    <p>You have appointment with <%= appointment.artist.name %></p>
    <p>Date of appointment: <%= appointment.appointment_date %></p>
    <p>Time of appointment: <%= appointment.appointment_time %></p>
    <p>Status: <%= appointment.status %></p>
    <p> Sketch: <%= cl_image_tag appointment.photo.path, width: 200, height: 300, crop: :fill %> </p>
    <% end %>

  </div>
</div>

</div> -->


