

<div class="wrapper-dashboard">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 padded text-center">
        <h4> Your Appointments</h4>
        <div class="dashboard-filter">
          <div class="user-info">
            <img src="http://www.unsplash.it/50/50" class="img-circle" alt="user_avatar">
            <h6> <%= 'Current User Name' %></h6>
          </div>
          <div class="filter">
            <h5> Filter your Appointments by City </h5>
            <%= form_tag("/artists", method: "get") do %>
            <%= select_tag 'location', options_for_select(@locations) %>
            <%= submit_tag "Filter", class: 'btn btn-primary' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 text-center">
        <div class="dashboard-card">
          <div class="dashboard-card-section text-center">
           <h6> Your Appointment with </h6>
           <img src="http://www.unsplash.it/50/50" class="img-circle" alt="">
           <h6> Artist name</h6>
         </div>
         <div class="dashboard-card-section">
          <div class="dashboard-card-appointment-info">
            <div class="appointment-logistics">
             <h6>Date: </h6>
             <h6>Time: </h6>
             <h6>Location: </h6>

           </div>
           <div>
           <div class="dashboard-buttons">
              <div class="btn btn-info">  Edit   </div>
              <div class="btn btn-danger"> Cancel  </div>
            </div>
          </div>

        </div>

      </div>
      <div class="dashboard-card-section">
        <div class="dashboard-action">
          <a href="">
          <i class="fa fa-cloud-upload" aria-hidden="true"></i>
          Upload a Sketch
          </a>
        </div>
        <div class="dashboard-action">
          <a href="">
          <i class="fa fa-eye" aria-hidden="true"></i>
          See your Sketches
          </a>
        </div>
        <div class="dashboard-action">
          <a href="">
          <i class="fa fa-commenting-o"></i>
          Message Artist

</a>        </div>
      </div>
    </div>

  </div>
</div>

<div class="row">
  <div class="col-sm-8 col-sm-offset-2 text-center">

    <% @appointments.each do |appointment| %>
    <p>You have appointment with <%= appointment.artist.name %></p>
    <p>Date of appointment: <%= appointment.appointment_date %></p>
    <p>Time of appointment: <%= appointment.appointment_time %></p>
    <p>Status: <%= appointment.status %></p>
    <p> Sketch: <%= cl_image_tag appointment.photo.path, width: 200, height: 300, crop: :fill %> </p>
    <% end %>

  </div>
</div>
</div>
</div>


